* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/49/4940450fc406d3b38abf598cafdfdf26.jpeg");
    background-attachment: fixed;
    font-size: 15px;
    word-break: break-word;

}

.headers {
    /* text-align: center; */
    color: white;
    background-color: rgba(7, 21, 27, 0.8);
    /* width: calc(52% - 300px ); */
    margin: 0 305px 0 23.5%;
    font-size: 20px;
    padding: 0 10px 0 10px;
    border: 2px solid rgb(207, 206, 223);
    border-radius: 8px;
}

.inputField {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0;
    padding: 5px 0px;
    width: 23%;
    /* min-height: 30%; */
    background-color: rgba(45, 45, 45, 255);
    border-right: 2px solid rgb(207, 206, 223);
    border-bottom: 2px solid rgb(207, 206, 223);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.taskList {
    width: calc(76.1% - 300px);
    margin: 0 305px 0 23.5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.eachTask {
    margin: 1px 0;
    padding: 10px;
    border: 2px solid rgb(207, 206, 223);
    border-radius: 8px;
    width: 100%;
    color: white;
    background-color: rgba(27, 54, 68, 0.8);
    display: flex;
    transition: background-color 0.05s ease-in;
}

.eachTask:hover {
    background-color: rgba(21, 41, 51, 0.8);
}

.eachTaskMainSpace {
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.parasha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskEditor {
    position: fixed;
    top: 0;
    right: 0;

    color: white;

    width: 300px;
    min-height: 50%;
    background-color: rgba(45, 45, 45, 255);
    border-left: 2px solid rgb(207, 206, 223);
    border-bottom: 2px solid rgb(207, 206, 223);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.taskEditorModalWindow {
    margin: 0;
}

.icons {
    scale: 1;
    transition: scale 0.5s;
}

.icons:hover {
    scale: 1.5;
}

.tr:active {
    scale: 5;
}

.greyZone {
    background-color: rgba(60, 60, 60, 255);
    padding: 8px;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.menuBotton {
    position: fixed;
    margin: 5px 0 10px 10px;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 6px;
}

.menuBotton:hover {
    background-color: rgba(60, 60, 60, 0.7);
}

.pageSelector{
    margin: 10px 10px 0 10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    
}

.pageSelector:hover{
    background-color: rgba(60, 60, 60, 1);
}


/* Настройка адаптивности интерфейса на телефонах 
Появляется модальное окно, редактор задачи выводится посередине экрана*/
@media screen and (max-width: 900px) {
    .headers {
        width: 95%;
        margin: 0% 2.5%;
    }

    .inputField {
        display: flex;
        flex-direction: column;
        position: static;

        width: 100%;
        min-height: 30%;
        border-bottom: 2px solid rgb(207, 206, 223);
        border-right: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
        /* word-break: break-all; */
    }

    .taskList {
        width: 95%;
        margin: 0% 2.5% 2.5% 2.5%;
    }

    .taskEditor {
        position: fixed;
        top: 0%;
        right: 0;
        z-index: 1;
        color: white;
        margin: 7% 10%;
        width: 80%;
        min-height: 85%;
        max-height: 93%;
        border: 2px solid rgb(207, 206, 223);
        border-radius: 8px;


        overflow: auto;
    }

    .taskEditorModalWindow {
        position: fixed;
        top: 0%;
        right: 0;
        background-color: rgba(27, 54, 68, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}


/* Настройка адаптивности интерфейса на ПЕРЕВЕРНУТЫХ ДЛЯННЫХ телефонах 
Появляется модальное окно, редактор задачи выводится посередине экрана*/
@media screen and (min-width: 900px) and (max-height: 500px) {

    .taskEditorModalWindow {
        position: fixed;
        top: 0%;
        right: 0;
        background-color: rgba(27, 54, 68, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .inputField {
        width: 30%;
        min-height: 30%;
    }

    .taskList {
        width: 68%;
        margin: 0 0 0 31%;
    }

    .taskEditor {
        /* position: fixed;
        top: 0%;
        right: 0;
        z-index: 1;
        color: white; */
        margin: 0% 10%;
        width: 80%;
        min-height: 85%;
        max-height: 100%;
        background-color: rgba(32, 32, 32, 255);
        border: 2px solid rgb(207, 206, 223);
        border-radius: 8px;

        overflow: auto;
    }

}

/* дЛЯ ПЕРЕВЕРНУТЫХ ТЕЛЕФОНОВ. */
@media screen and (max-width: 900px) and (max-height: 500px) {
    .taskEditor {
        margin: 0% 10%;
        width: 80%;
    }
}